// sass/_base.scss

body {
  font-family: $font-stack;
  background-color: $bg-color;
  color: $text-color;
  margin: 0;
  padding: 0;
  // Using Mixin 1
  @include flex-center;
  flex-direction: column;
  min-height: 100vh;
}

.page-header {
  text-align: center;
  margin-bottom: 40px;

  h1 {
    color: $primary-color;
  }
}

.page-footer {
  margin-top: 40px;
  font-size: 0.8rem;
  color: lighten($text-color, 30%);
}